/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'variables.css';
@import 'header.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
} 

nav {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    min-height: 0;
}