*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .profile-pic{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        max-width: 10%;
        height: auto;
    }